<div>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>Available Log:</span>
            <md-input-container>
                <md-select ng-model="selectedLog" placeholder="Select Log" ng-change="update()">
                    <md-option ng-repeat="log in logs" ng-value="log">
                        {{log}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="md-toolbar-tools">
            <span>Available Prefix:</span>
            <md-input-container>
                <md-select ng-model="selectedPrefix" placeholder="Select Prefix" ng-change="update()">
                    <md-option ng-repeat="prefix in prefixs" ng-value="prefix">
                        {{prefix}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div>
            <md-button style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26)" ng-href={{downloadRegUrl}}>
                Export resluts
            </md-button>
        </div>
    </md-toolbar>
    <div class="md-toolbar-tools">
        <span>Available Results</span>
    </div>

    <div layout="row" layout-wrap flex>
        <div ng-repeat="availableResut in regavailableResutls" class="standard" flex="50">
            <label>
                <input type="checkbox" id="availableResut" ng-checked="exists(availableResut, SelectedregavailableResutls)" ng-click="toggle(availableResut, SelectedregavailableResutls)"/>
                    {{ availableResut }}
                </label>
        </div>
    </div>
    <br>

    <md-content>
        <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
            <md-tab label="General">
                <div id="regtable_div"></div>
            </md-tab>
            <md-tab label="Bubble chart by regressor">
                <div id="regmethodGeneralValues" style="width: 900px; height: 500px;"></div>
            </md-tab>
            <md-tab label="Bubble chart by clustering">
                <div id="regclusterGeneralValues" style="width: 900px; height: 500px;"></div>
            </md-tab>
            <md-tab label="Bubble chart by encoding">
                <div id="regencodingGeneralValues" style="width: 900px; height: 500px;"></div>
            </md-tab>
            <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}">
                <div id="table_div" style="width: 90%;"></div>
                <table>
                    <tr>
                        <th>Trace Id</th>
                        <th>Actual RemainingTime</th>
                        <th>Prediction</th>
                    </tr>
                    <tr ng-repeat="Trace in tab.Traces">
                        <td>{{Trace.Id}}</td>
                        <td>{{Trace.remainingTime}}</td>
                        <td>{{Trace.prediction}}</td>
                    </tr>
                </table>
            </md-tab>
        </md-tabs>
    </md-content>
</div>